In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("D:\DA-Class\DA2212R1\shopeep_koreantop_clothing_shop_data.csv", encoding='unicode_escape')
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   pk_shop             746 non-null    int64
 1   date_collected      746 non-null    object
 2   shopid              746 non-null    int64
 3   name                746 non-null    object
 4   join_month          746 non-null    object
 5   join_day            746 non-null    int64
 6   join_year           746 non-null    int64
 7   item_count          746 non-null    int64
 8   follower_count      746 non-null    int64
 9   response_time       746 non-null    object
 10  response_rate       746 non-null    int64
 11  shop_location       428 non-null    object
 12  rating_bad          746 non-null    int64
 13  rating_good         746 non-null    int64
 14  rating_normal       746 non-null    int64
 15  rating_star         740 non-null    float64
 16  is_shopee_verified  746 non-null    int64
 17  is_official_shop    746 non-null    int64
dtypes: float64(1), int64(12), object(5)
memory usage: 105.0+ KB

Index(['pk_shop', 'date_collected', 'shopid', 'name', 'join_month', 'join_day',
       'join_year', 'item_count', 'follower_count', 'response_time',
       'response_rate', 'shop_location', 'rating_bad', 'rating_good',
       'rating_normal', 'rating_star', 'is_shopee_verified',
       'is_official_shop'],
      dtype='object')

In [9]:
# Để đơn giản ta thực hiện lọc tập dữ liệu ban đầu theo các thuộc tính sau
df = df[['date_collected','shop_location','response_time']]
df

    date_collected               shop_location response_time
0       2021-06-13                         NaN      10:13:55
1       2021-06-13    San Nicolas,Metro Manila      10:43:05
2       2021-06-13     Pasay City,Metro Manila      08:32:07
3       2021-06-13        Binondo,Metro Manila      09:10:38
4       2021-06-13  Caloocan City,Metro Manila      11:40:59
..             ...                         ...           ...
741     2021-07-06          Legazpi City,Albay      08:45:30
742     2021-07-06                         NaN      08:01:23
743     2021-07-06                         NaN      08:46:30
744     2021-07-06        Binondo,Metro Manila      12:19:44
745     2021-07-06     Pasay City,Metro Manila      10:02:42

[746 rows x 3 columns]

In [10]:
# Tách cột shop_location thành 2 cột District và City

df['District']=df['shop_location'].str.split(',').str[0]
df['City']=df['shop_location'].str.split(',').str[1]
df

,date_collected,shop_location,response_time,District,City
0,2021-06-13,NaN,10:13:55,NaN,NaN
1,2021-06-13,"San Nicolas,Metro Manila",10:43:05,San Nicolas,Metro Manila
2,2021-06-13,"Pasay City,Metro Manila",08:32:07,Pasay City,Metro Manila
3,2021-06-13,"Binondo,Metro Manila",09:10:38,Binondo,Metro Manila
4,2021-06-13,"Caloocan City,Metro Manila",11:40:59,Caloocan City,Metro Manila
...,...,...,...,...,...
741,2021-07-06,"Legazpi City,Albay",08:45:30,Legazpi City,Albay
742,2021-07-06,NaN,08:01:23,NaN,NaN
743,2021-07-06,NaN,08:46:30,NaN,NaN
744,2021-07-06,"Binondo,Metro Manila",12:19:44,Binondo,Metro Manila
745,2021-07-06,"Pasay City,Metro Manila",10:02:42,Pasay City,Metro Manila

In [11]:
# Tách cột date_collected thành 3 cột Day, Month, Year

df['Day']=pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.day
df['Month']=pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.month
df['Year']=pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.year
df

,date_collected,shop_location,response_time,District,City,Day,Month,Year
0,2021-06-13,NaN,10:13:55,NaN,NaN,13,6,2021
1,2021-06-13,"San Nicolas,Metro Manila",10:43:05,San Nicolas,Metro Manila,13,6,2021
2,2021-06-13,"Pasay City,Metro Manila",08:32:07,Pasay City,Metro Manila,13,6,2021
3,2021-06-13,"Binondo,Metro Manila",09:10:38,Binondo,Metro Manila,13,6,2021
4,2021-06-13,"Caloocan City,Metro Manila",11:40:59,Caloocan City,Metro Manila,13,6,2021
...,...,...,...,...,...,...,...,...
741,2021-07-06,"Legazpi City,Albay",08:45:30,Legazpi City,Albay,6,7,2021
742,2021-07-06,NaN,08:01:23,NaN,NaN,6,7,2021
743,2021-07-06,NaN,08:46:30,NaN,NaN,6,7,2021
744,2021-07-06,"Binondo,Metro Manila",12:19:44,Binondo,Metro Manila,6,7,2021
745,2021-07-06,"Pasay City,Metro Manila",10:02:42,Pasay City,Metro Manila,6,7,2021

In [12]:
# Tách cột response_time thành 3 cột Hour, Minute, Second
df['Hour']=pd.to_datetime(df['response_time'],format=' %H:%M:%S').dt.hour
df['Minute']=pd.to_datetime(df['response_time'],format=' %H:%M:%S').dt.minute
df['Second']=pd.to_datetime(df['response_time'],format=' %H:%M:%S').dt.second
df

,date_collected,shop_location,response_time,District,City,Day,Month,Year,Hour,Minute,Second
0,2021-06-13,NaN,10:13:55,NaN,NaN,13,6,2021,10,13,55
1,2021-06-13,"San Nicolas,Metro Manila",10:43:05,San Nicolas,Metro Manila,13,6,2021,10,43,5
2,2021-06-13,"Pasay City,Metro Manila",08:32:07,Pasay City,Metro Manila,13,6,2021,8,32,7
3,2021-06-13,"Binondo,Metro Manila",09:10:38,Binondo,Metro Manila,13,6,2021,9,10,38
4,2021-06-13,"Caloocan City,Metro Manila",11:40:59,Caloocan City,Metro Manila,13,6,2021,11,40,59
...,...,...,...,...,...,...,...,...,...,...,...
741,2021-07-06,"Legazpi City,Albay",08:45:30,Legazpi City,Albay,6,7,2021,8,45,30
742,2021-07-06,NaN,08:01:23,NaN,NaN,6,7,2021,8,1,23
743,2021-07-06,NaN,08:46:30,NaN,NaN,6,7,2021,8,46,30
744,2021-07-06,"Binondo,Metro Manila",12:19:44,Binondo,Metro Manila,6,7,2021,12,19,44
745,2021-07-06,"Pasay City,Metro Manila",10:02:42,Pasay City,Metro Manila,6,7,2021,10,2,42